.homeContainer {
  min-height: 86vh;
  margin-bottom: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media screen and (max-width: 550px) {
    min-height: 95vh;
    margin-bottom: 0;
  }

  .title {
    text-align: center;
    margin: 0;
    padding: 5vh 0 0;
    color: #333333;
    font-size: 3.2rem;
    font-family: "Montserrat";

    @media screen and (max-width: 550px) {
      font-size: 2.5rem;
    }
  }

  .buttonsContainer {
    display: flex;
    padding: 10vh 0;
    align-items: center;
    justify-content: center;
    gap: 200px;

    @media screen and (max-width: 550px) {
      gap: 50px;
    }
  }

  .recipesContainer {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    padding: 5vh 0;

    @media screen and (max-width: 550px) {
      padding: 0;
      padding-bottom: 5vh;
    }
  }
}

.footer {
  width: 100vw;
  display: flex;
  padding: 20px 40px;
  background-color: #86bda4;
  font-size: 0.9rem;

  a {
    &:hover {
      color: black;
    }
  }

  @media screen and (max-width: 550px) {
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
}
